.searching {
    margin: 120px;
}

.searching input[type="text"] {
	border: none;
    border-radius: 6px;
    margin-right: 20px;
	outline: 0;
    width: 400px;
    padding-left: 10px;
    height: 40px;
	background-color: #e8eeef;
	color: #696969;
  }