.table-with-button {
  margin-left: 120px;
  color: #696969;
}

table {
  width: 70%;
  text-align: center;
}

td,
th {
  background-color: #d3d3d3 ;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 18px;
  width: 20%;
}

td {
  background-color: #dfdfdf;
}

th .categories {
  font-size: 14px;
}

.winner-column {
  background-color: #90ee90;
}

.table-body input[type="text"] {
  width: 90%;
  margin: 0;
}

input[type="radio"]:checked {
  box-shadow: 0 0 0 8px #32CD32;
}

.no-venues-info {
  margin-left: 120px;
}
